.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .modal-content-qrcode {
    background-color: #fff;
    max-width: 85%;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content-qrcode h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .modal-content-qrcode p {
    width: 80%;
  }
  
  .modal-content-qrcode img {
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: fill;
  }

  .modal-content .row{

    display: flex;
    align-items: center;
    justify-content: space-around;

  }
  
  .modal-content .cta-button {
    background-color: #6f42c1;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 0 5px;
  }
  
  .modal-content .cta-button:hover {
    background-color: #522d90;
    cursor: pointer;
  }
  
  @media (min-width: 500px) {
    
    .modal-content{

      max-width: 50%;

    }

    .modal-content img {

      max-width: 350px;

    }

  }