  /* Estilo do main content */
  main {
    width: 95%;
    padding: 0 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .banner {
    background-image: url("./Images/background.png");
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 01px 1px 1px #6f42c1;
    text-align: center;
  }
  
  .banner-content {
    max-width: 600px;
  }
  
  .banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #6f42c1;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #522d90;
  }
  
  .destaques {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .destaque {
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .destaque > .imgBox{

    flex: 1;

    > img{

      width: 80%;
      object-fit: contain;

    }

  }
  
  .destaque > .row > h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .destaque > .row > p {
    margin-bottom: 20px;
  }
  
  .saiba-mais {
    background-color: #6f42c1;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .saiba-mais:hover {
    background-color: #522d90;
  }
  
  .menu {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .menu h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cardsBox{

    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  
  .card img {
    max-width: 150px;
    width: 25%;
  }
  
  .main-card-content {
    width: 55%;
    margin: 10px; 
    text-align: center;
  }
  
  .main-card-content h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .main-card-content p {
    margin-bottom: 10px;
    list-style: none;
  }
  
  .preco {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .addPedido {
    background-color: #6f42c1;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    padding: 7.5px 12.5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addPedido:hover {
    background-color: #522d90;
  }
  
  .pedido {
    margin-bottom: 40px;
  }
  
  .pedido h2 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .pedido ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .contato {
    width: 95%;
    padding: 0 2.5%;
    margin-bottom: 40px;
  }
  
  .contato h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form input,
  form textarea {
    width: 95%;
    padding: 03% 2.5%;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
  }
  
  form input:focus,
  form textarea:focus {
  
    outline: .5px solid gray;

  }
  form textarea {
    height: 120px;
  }
  
  button[type="submit"] {
    background-color: #6f42c1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #522d90;
  }

  .loadingMain{

    animation: load 1s infinite linear;

  }

  @keyframes load {
    from{

      rotate: 0deg;

    }
    to{

      rotate: 360deg;

    }  
  }
  

@media (min-width: 500px) {

  .banner{

    height: 400px;

  }

  .destaques{

    flex-direction: row;

    > .destaque{

      width: 100%;
      max-width: 550px;

    }

  }

  .cardsBox{

    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;

    > .card{

      max-width: 500px;
      width: 100%;

      > .addPedido{

        padding: 10px 5px;

      }

    }

  }

  form input,
  form textarea {

    padding: 15px 12px;

  }
}